[Unit]
Description=myPlant FastAPI Telegram Bot
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/myPlant_bot
EnvironmentFile=/home/ec2-user/myPlant_bot/.env
ExecStart=/home/ec2-user/myPlant_bot/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
